body


{
background-color: black;
color:white;
width: 1500px;
text-align: center;



}

h1


{

color: red;


}


h2

{
color: green;




}


h3
{
color:purple;
font-size:30px;
}

#secret

{

color: blue;




}


